<%- include('partials/header') %>
<%- include('partials/navbar') %>

<section class="py-5">
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% contacts.forEach(contact => { %>
                    <tr>
                        <td><%= contact.name %></td>
                        <td><%= contact.number %></td>
                        <td><%= contact.email %></td>
                        <td>
                            <a href="/contacts/update/<%= contact.id %>" class="btn btn-primary">Update</a>
                            <form style="display:inline;" action="/contacts/delete/<%= contact.id %>" method="post">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</section>

<%- include('partials/footer') %>
